<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <!-- <add key="TeamCity Built-In HTTPS"
            value="https://unit-2082:8542/httpAuth/app/nuget/feed/NetSamples_NuGet_BuiltInFeed/MyBuiltInFeed/v3/index.json"
            protocolVersion="3" enabled="true"
            userName="admin" password="jetbrains123" /> -->
        <add key="TeamCity Built-In HTTP"
            value="http://unit-2082:8110/httpAuth/app/nuget/feed/NetSamples_NuGet_BuiltInFeed/MyBuiltInFeed/v3/index.json"
            protocolVersion="3" enabled="true"
            userName="admin" password="jetbrains123" />
    </packageSources>
</configuration>